.pagination {
  display: flex;
  margin: 0 auto;
}

.pagination-list {
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination-list__item {
  list-style: none;
}

.pagination-list__item-button {
  padding: 12px 15px 10px 15px;
  margin: 0 5px;
  background-color: #4481c3;
  color: #ffffff;
  border: none;
}
